<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="Spiller1" value="Jahn Roger"/>
    <add key="Spiller2" value="Fredrik"/>
    <add key="Spiller3" value="Dag"/>
    <add key="Spiller4" value="Targjerd"/>
    <add key="Spiller5" value="Victoria"/>
    <add key="Spiller6" value="Mariann"/>
    <add key="Spiller7" value="Hans Øyvind"/>
    <add key="Spiller8" value="Linn"/>
  </appSettings>
</configuration>